.title {
    -fx-font-size: 18px;
    -fx-text-fill: #034f84;
}


.button {
    -fx-background-color: #2a9e93;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 1);
}

/* Styles pour le dashboard */
.chart-container {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0, 0, 2);
}

.chart-title {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #034f84;
    -fx-padding: 0 0 10 0;
}

.chart-pane {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.05), 10, 0, 0, 4);

}

.stats-grid {
    -fx-background-color: transparent;
}

.stat-box {
    -fx-padding: 5;
    -fx-background-color: #f8f9fa;
    -fx-background-radius: 4;
    -fx-border-color: #ececec;
    -fx-border-radius: 4;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.05), 3, 0, 0, 1);
}

.stat-label {
    -fx-font-size: 12px;
    -fx-text-fill: #7f8c8d;
}

.stat-value {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #3498db;
}

/* Styles pour les graphiques */
.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-legend {
    -fx-background-color: #f8f9fa;
    -fx-background-radius: 4;
    -fx-border-color: #ececec;
    -fx-border-radius: 4;
    -fx-padding: 5;
}

/* Styles spécifiques au PieChart */
.chart-pie {
    -fx-border-color: white;
    -fx-border-width: 1px;
}

.chart-pie-label {
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.data0.chart-pie {
    -fx-pie-color: #3498db;
}

.data1.chart-pie {
    -fx-pie-color: #2ecc71;
}

.data2.chart-pie {
    -fx-pie-color: #e74c3c;
}

.data3.chart-pie {
    -fx-pie-color: #f1c40f;
}

.data4.chart-pie {
    -fx-pie-color: #9b59b6;
}

.data5.chart-pie {
    -fx-pie-color: #e67e22;
}

.data6.chart-pie {
    -fx-pie-color: #34495e;
}

/* Styles pour LineChart */
.chart-series-line {
    -fx-stroke-width: 2px;
}

.default-color0.chart-series-line {
    -fx-stroke: #3498db;
}

.default-color0.chart-line-symbol {
    -fx-background-color: #3498db, white;
}