.title {
    -fx-font-size: 18px;
}

.button {
    -fx-background-color: #2a9e93;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 1);
}